<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}

  <body>
    <div style="display: flex; padding: 64px">
      <div>{% include "sidebar.html" %}</div>
      <div style="width: 100%">
        {% include "navbar.html" %}

        <article class="experience active">
          <header>
            <h2 class="h2 article-title">Experience</h2>
          </header>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>
              <h3 class="h3">Work</h3>
            </div>

            <ol class="timeline-list">
              {% for e in work_experiences %}
              <li class="timeline-item">
                <div class="timeline-work-container">
                  <a href="{{e.url}}" target="_blank">
                    <img
                      src="{{e.logo}}"
                      alt="mobile app icon"
                      width="24"
                      style="margin-right: 6px; border-radius: 4px"
                    />
                  </a>
                  <div class="timeline-work-text">
                    <a href="https://www.outrider.ai/" target="_blank">
                      <h4 class="h4 timeline-item-title">{{e.company}}</h4></a
                    >
                    <p class="timeline-item-position">{{e.title}}</p>
                  </div>
                </div>
                <span>{{e.date}}</span>
                <p class="timeline-text">{{e.desc}}</p>
              </li>
              {% endfor %}
            </ol>
          </section>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>
              <h3 class="h3">Education</h3>
            </div>

            <ol class="timeline-list">
              {% for e in education %}
              <li class="timeline-item">
                <a href="{{e.url}}" target="_blank">
                  <h4 class="h4 timeline-item-title-edu">{{e.school}}</h4></a
                >
                <span>{{e.date}}</span>

                <p class="timeline-text">{{e.desc}}</p>
              </li>
              {% endfor %}
            </ol>
          </section>
        </article>
      </div>
    </div>
  </body>
</html>
