<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}

  <body>
    <div style="display: flex; padding: 64px">
      <div>{% include "sidebar.html" %}</div>
      <div style="width: 100%">
        <article class="about active">
          {% include "navbar.html" %}
          <header>
            <h2 class="h2 article-title">About me</h2>
          </header>
          <section class="about-text">
            <p>Hi, my name is Joni 👋</p>
            <p>
              I’m a software engineer specializing in Mobile and Front-end. I
              love exploring and learning new technologies and products. I have
              a strong interest and currently learning AR/VR, computer vision,
              and generative AI!
            </p>

            <p>
              My career mission is to leverage technology to address disparities
              in information and resource access. I'm committed to utilizing
              innovative solutions to increase productivity, improve
              connectivity, and enhance resourcefulness worldwide.
            </p>
          </section>

          <section class="service">
            <h3 class="h3 service-title">What i'm doing</h3>
            <ul class="service-list">
              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="./static/img/icon-app.svg"
                    alt="mobile app icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Mobile Application</h4>

                  <p class="service-item-text">
                    Develop iOS and Android applications both in Native and
                    Hybrid with Swift, Kotlin, and React Native
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="./static/img/icon-dev.svg
                "
                    alt="design icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Web Frontend</h4>

                  <p class="service-item-text">
                    Seamless frontend development with React.JS, Next.JS,
                    GraphQL
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="./static/img/icon-design.svg"
                    alt="camera icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Game Development</h4>

                  <p class="service-item-text">
                    Have made fun games with Java. Currently learning C++ and
                    Unreal Engine
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="./static/img/icon-photo.svg"
                    alt="Web development icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">AR/VR</h4>

                  <p class="service-item-text">
                    Exploring Apple's ARKit and RealityKit, and learning
                    computer vision
                  </p>
                </div>
              </li>
            </ul>
          </section>

          <!--
          - TODO: skills
        -->

          <!-- <section class="skills">
            <h3 class="h3 clients-title">Skills</h3>
          </section> -->
        </article>
      </div>
    </div>
  </body>
</html>
