<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/" class="navbar-link active">About</a>
    </li>

    <li class="navbar-item">
      <a href="/experience" class="navbar-link">Experience</a>
    </li>

    <li class="navbar-item">
      <a href="/project" class="navbar-link">Projects</a>
    </li>

    <!-- <li class="navbar-item">
      <a href="/hobby" class="navbar-link">Hobby</a>
    </li> -->

    <!-- <li class="navbar-item">
      <a href="/map" class="navbar-link">Map</a>
    </li> -->
  </ul>
</nav>
