<aside class="sidebar" style="width: 260px; height: 600px; margin-right: 32px">
  <div class="sidebar-info">
    <div class="avatar-box">
      <img src="./static/img/joni-bg-black.gif" alt="Joni Park" width="80" />
    </div>

    <div class="info-content">
      <h1 class="name" title="Joni Park">Joni Park</h1>

      <p class="title">Software Engineer</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:park49j@mtholyoke.edu" class="contact-link"
            >zeepada0623@gmail.com</a
          >
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>Colorado, USA</address>
        </div>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      <li class="social-item">
        <a
          target="_blank"
          href="https://github.com/jonipark"
          class="social-link"
        >
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/joeun-park/"
          class="social-link"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a target="_blank" href="https://devpost.com/joeun" class="social-link">
          <ion-icon name="planet"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>
